asgiref
blinker==1.7.0
bro-exchange @ git+https://github.com/nens/bro-exchange@5caacc13998b009456fa0b6bb25a7f51a77466fc
certifi
channels==4.0.0
charset-normalizer
click==8.1.7
colorama==0.4.6
dash==2.9.3
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
diff-match-patch==20230430
Django==4.0.3
django-admin-generator==2.2.1
django-extensions
django-jazzmin==2.6.0
django-modeladmin-reorder==0.3.1
django-plotly-dash==2.3.0
django-reversion==5.0.12
django-reversion-compare==0.17.0
django-static-jquery==2.1.4
django-utils2==2.12.1
djangorestframework==3.15.1
dpd-components==0.1.0
Flask==3.0.3
idna
itsdangerous==2.1.2
Jinja2==3.1.3
lxml
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
numpy
packaging==24.0
pandas
plotly==5.20.0
psycopg2
Pygments==2.17.2
pyproj==3.6.1
python-dateutil
python-utils
pytz
requests==2.31.0
reversion==0.2
rich==13.7.1
six
sqlparse
tenacity==8.2.3
toml==0.10.2
typing_extensions==4.11.0
tzdata
urllib3
uuid
Werkzeug==3.0.2
xmltodict
