#deck-gl-canvas {
  height: 75vh;
  width: 75vw;
  border: rgb(77, 77, 77) solid 1px;
}

#deck-gl-canvas hr {
  height: 1px;
  margin: 5px 0 5px 0;
}

#deck-gl-canvas h4 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

#legend-top {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
  background-color: white;
  max-height: 28vh;
}

#legend-bottom {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  background-color: white;
  padding: 1em;
  max-height: 30vh;
  overflow: auto;
}

.mapbox-checkbox-wrapper {
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 4px;
}

.mapbox-checkbox-wrapper:first-of-type {
  margin-top: 0;
}

.mapbox-checkbox-wrapper:last-of-type {
  margin-bottom: 0;
}

.mapbox-checkbox-label {
  cursor: pointer;

  user-select: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-weight: 200 !important;
}

.mapbox-button-deselect {
  cursor: pointer;

  user-select: none;
  display: flex;
  margin-bottom: 0;
  font-weight: 200 !important;
}

.mapbox-checkbox {
  cursor: pointer;

  margin-right: 0.5em;
  accent-color: grey;
  background: grey;
  height: 1em;
  width: 1em;
}

.mapbox-checkbox[type="checkbox"]:indeterminate {
  background: white;
  border: 2px grey solid;
}

.mapbox-checkbox[type="checkbox"]:not(:checked) {
  appearance: none;
  margin-bottom: 0;
  width: 1em;
  height: 1em;
  border-radius: 2px;
}

.json {
  display: none;
}

/* Mapbox cursor states */
.mapboxgl-canvas.grab {
  cursor: grab !important;
}
.mapboxgl-canvas.pointer {
  cursor: pointer !important;
}
.mapboxgl-canvas.grabbing {
  cursor: grabbing !important;
}

#hamburger-button {
  padding: 1em;
  cursor: pointer;
}

#hamburger-button-innner {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.hamburger-line {
  flex-grow: 0;
  height: 1px;
  width: 100%;
  border: 1px solid black;
}

#gmn-wrapper {
  display: none;
  top: 50px;
  position: absolute;
  right: 0;
  background-color: white;
  padding: 1em;
  max-height: 30vh;
  overflow: auto;
  flex-direction: column;
  width: 200px;
}

.hamburger-open #gmn-wrapper {
  display: flex;
}

.hamburger-open .hamburger-line {
  position: absolute;
  top: 50%;
  left: 50%;
}

.hamburger-open .hamburger-line:first-of-type {
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-open .hamburger-line:nth-child(2) {
  display: none;
}

.hamburger-open .hamburger-line:last-of-type {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#popup-content {
  background-color: white;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.well-item {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  border-bottom: 1px solid gray;
}

.label {
  text-align: left;
  flex: 1;
}

.value {
  text-align: right;
  flex: 1;
}
