**/__pycache__/
**/*.xml
**/*.zip
**/localsecret.py
*.docx
*.sql
**/*.dot
**/*.cmd
bro_connector/gld_aanlevering/migrations
bro_connector/bro_connector_gld/migrations
bro_connector/bro_connector/migrations
bro_connector/gmw_aanlevering/migrations
venv
**/migrations/**
bro_connector/qc_tool/app/assets/.mapbox_access_token
bro_connector/static/dash/.mapbox_access_token
