**/__pycache__/
**/.cache/
**/*.xml
**/localsecret.py
**/*.dot
bro_connector/gld_aanlevering/migrations
bro_connector/bro_connector_gld/migrations
bro_connector/bro_connector/migrations
bro_connector/gmw_aanlevering/migrations
bro_connector/tools/bulk
bro_connector/tools/gmn
bro_connector/tools/gmw
bro_connector/.cache/*.djcache
venv
**/migrations/**
bro_connector/qc_tool/app/assets/.mapbox_access_token
bro_connector/static/dash/.mapbox_access_token
**/.venv
bro_connector/.pi_cache/
/fieldforms/**
.pixi
**/pastasdb/**
staticfiles/
bro_connector/bulk/**
