asgiref
certifi
charset-normalizer
Django==4.0.3
django-extensions
django-admin-generator==2.2.1
django-jazzmin==2.6.0
django-modeladmin-reorder==0.3.1
django-utils2==2.12.1
idna
lxml
numpy
pandas
psycopg2
python-dateutil
python-utils
pytz
six
sqlparse
tzdata
urllib3
uuid
xmltodict
git+https://github.com/nens/bro-exchange#egg=bro-exchange
django-reversion-compare
