asgiref==3.8.1
bcrypt==4.2.0
blinker==1.7.0
bro_exchange @git+https://github.com/nens/bro-exchange@5caacc13998b009456fa0b6bb25a7f51a77466fc
certifi==2024.7.4
cffi==1.17.0
channels==4.0.0
charset_normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.0
dash==2.18.2
dash_bootstrap_components==1.7.1
dash_core_components==2.0.0
dash_html_components==2.0.0
dash_table==5.0.0
diff_match_patch==20230430
Django==4.2
django_admin_autocomplete_filter==0.7.1
django_admin_generator==2.2.1
django_bootstrap4
django_extensions==3.2.3
django_jazzmin==2.6.0
django_modeladmin_reorder==0.3.1
django_plotly_dash
django_reversion==5.0.12
django_reversion_compare==0.17.0
django_static_jquery==2.1.4
django_utils2==2.12.1
djangorestframework==3.15.1
dpd-components==0.1.0
dpd-static-support==0.0.5
executing==2.1.0
factory-boy==3.3.3
Flask==3.0.3
flask_caching
geopandas
hydropandas
i18nice[YAML]
idna==3.7
icecream
itsdangerous==2.1.2
Jinja2==3.1.3
lxml==5.2.2
markdown_it_py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
numpy==2.0.1
packaging==24.0
pandas==2.2.2
paramiko==3.4.0
pastas
pastastore
plotly==6.0.1
polars
psycopg2==2.9.9
psycopg2_binary
pyOpenSSL
pycparser==2.22
Pygments==2.17.2
PyNaCl==1.5.0
pyproj==3.6.1
pysftp==0.2.9
pytest==8.3.5
pytest-django==4.11.1
python_dateutil==2.9.0.post0
python-dotenv==1.1.0
python_utils==3.8.2
pytz==2024.1
requests==2.31.0
rich==13.7.1
six==1.16.0
sqlparse==0.5.1
sqlalchemy
tenacity==8.2.3
toml==0.10.2
tomli
traval
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.2
uuid==1.30
Werkzeug==3.0.2
xmltodict==0.13.0
django_image_uploader_widget
setuptools
gunicorn==23.0.0
