{% extends "admin/base_site.html" %} {% block content %} {% load static %}
<!-- HTML -->
<div id="deck-gl-canvas">
  <!-- SEARCH -->
  <div id="search-top-left">
    <input
      type="text"
      id="search-input"
      placeholder="Zoek naar een put..."
      title="Je kunt zoeken op BRO id, putcode, nitg code of label"
    />
    <div id="search-options" class="hide">
      {% for well in wells %}
      <div
        data-keyword="`{{well.bro_id}} {{well.well_code}} {{well.nitg_code}}`"
        class="search-option"
        data-label="{{well.label}}"
        data-id="{{well.groundwater_monitoring_well_static_id}}"
        onclick="event.preventDefault(); handleSearchValue(this)"
      >
        {{well.label}}
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- BUTTONS -->
  <div id="toggle-text-layer-btn">
    <button
        id="validation-map-btn"
        type="button"
        onclick="event.stopPropagation(); switchToValidationStatusMap()">
        Validatiemodus
    </button>
    <button
        id="toggle-text-layer"
        type="button"
        onclick="event.stopPropagation(); toggleTextLayerVisibility()">
        Labels
    </button>
  </div>

  <!-- This code handles the gmn hamburger menu -->
  <div id="legend-top">
    <div
      id="hamburger-button"
      onclick="this.parentElement.classList.toggle('hamburger-open')"
    >
      <div id="hamburger-button-innner">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </div>
    </div>
    <div id="gmn-wrapper">
      <h4>Overig:</h4>
      <div
        class="mapbox-checkbox-wrapper"
        onclick="event.preventDefault(); handleWellValue('complete_bro', this)"
      >
        <label class="mapbox-checkbox-label" for="checkbox-complete_bro">
          <input
            type="checkbox"
            class="mapbox-checkbox default-indeterminate"
            id="checkbox-complete_bro"
            name="checkbox-complete_bro"
            onclick="handleWellValueCheckboxClick(this)"
          />
          Compleet in BRO
        </label>
      </div>
      <div
        class="mapbox-checkbox-wrapper"
        onclick="event.preventDefault(); handleWellValue('has_open_comments', this)"
      >
        <label class="mapbox-checkbox-label" for="checkbox-open_comments">
          <input
            type="checkbox"
            class="mapbox-checkbox default-indeterminate"
            id="checkbox-open_comments"
            name="checkbox-open_comments"
            onclick="handleWellValueCheckboxClick(this)"
          />
          Openstaand commentaar
        </label>
      </div>
      <div
        class="mapbox-checkbox-wrapper"
        onclick="event.preventDefault(); handleWellValue('deliver_gmw_to_bro', this)"
      >
        <label class="mapbox-checkbox-label" for="checkbox-deliver_gmw_to_bro">
          <input
            type="checkbox"
            class="mapbox-checkbox default-indeterminate"
            id="checkbox-deliver_gmw_to_bro"
            name="checkbox-deliver_gmw_to_bro"
            onclick="handleWellValueCheckboxClick(this)"
          />
          GMWs aan BRO aanleveren
        </label>
      </div>
      <hr />
      <h4>GMN's:</h4>
      <div class="mapbox-checkbox-wrapper" onclick="event.preventDefault();">
        <label class="mapbox-button-deselect" for="checkbox-button-all">
          <button
            type="button"
            onclick="event.stopPropagation(); deselectAllCheckboxes()"
          >
            (De)selecteer alles
          </button>
        </label>
      </div>
      <div
        class="mapbox-checkbox-wrapper"
        onclick="event.preventDefault(); handleGmnClick('noLinked', this)"
      >
        <label class="mapbox-checkbox-label" for="checkbox-no-linked">
          <input
            type="checkbox"
            class="mapbox-checkbox"
            id="checkbox-no-linked"
            name="checkbox-no-linked"
            checked
            onclick="handleCheckboxClick(this)"
          />
          Niet in een GMN
        </label>
      </div>
      {% for gmn in gmns %}
      <div
        class="mapbox-checkbox-wrapper"
        onclick="event.preventDefault(); handleGmnClick('{{ gmn }}', this)"
      >
        <label class="mapbox-checkbox-label" for="checkbox-{{gmn}}">
          <input
            type="checkbox"
            class="mapbox-checkbox"
            id="checkbox-{{gmn}}"
            name="checkbox-{{gmn}}"
            checked
            onclick="handleCheckboxClick(this)"
          />
          {{gmn}}
        </label>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="legend-bottom">
    <h4>Organisaties:</h4>
    {% for organisation in organisations %}
    <div
      class="mapbox-checkbox-wrapper"
      onclick="event.preventDefault(); handleOrganisationClick('{{ organisation.id }}', this)"
    >
      <label class="mapbox-checkbox-label" for="checkbox-{{organisation.id}}">
        <input
          type="checkbox"
          class="mapbox-checkbox"
          id="checkbox-{{organisation.id}}"
          name="checkbox-{{organisation.id}}"
          checked
          onclick="handleCheckboxClick(this)"
        />
        {{organisation.name}}
      </label>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Add json information -->
<div class="json">{{ wells|json_script:"wells_json" }}</div>
<div class="json">{{ glds|json_script:"glds_json" }}</div>
<div class="json">{{ gmns|json_script:"gmns_json" }}</div>
<div class="json">{{ organisations|json_script:"organisations_json" }}</div>
<div class="json">{{ map_center|json_script:"map_center_json" }}</div>

<!-- Link to css -->
<link href="{% static 'gmw/gmw_map.css' %}" rel="stylesheet" />

<!-- Link to packages -->
<link
  href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.css"
  rel="stylesheet"
/>
<script src="
https://unpkg.com/deck.gl@8.9.35/dist.min.js"></script>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.13.0/mapbox-gl.js"></script>

<!-- Link to javascript -->
<script src="{% static 'gmw/gmw_map.js' %}"></script>

{% endblock %}