{% extends "admin/base.html" %} {% load static %}

{% block title %}
  {% if subtitle %}{{ subtitle }} | {% endif %}
  {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block extrahead %}
  <link rel="icon" href="{{STATIC_URL}}img/favicon.ico" sizes="48x48" />
  <!-- Add CSS and JavaScript for chatbot pop-up -->
  <button type="button" id="chatbot-button">BRO Co-Pilot</button>

  <!-- HTML code for the chatbot container -->
  <div id="chatbot-container" class="chatbot-container">
    <div id="chat-messages" class="chat-messages">
      <button type="button" id="clear-button">Clear</button>
    </div>
    
    <div class="chat-input">
      <textarea id="user-input" class="user-input" placeholder="Type your message here..."></textarea>
    </div>
  </div>

  
  <link rel="stylesheet" type="text/css" href="{% static 'css/chatbot.css' %}">
  
  <script src="{% static 'js/chatbot.js' %}"></script>
{% endblock %}

{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">
      {{ site_header|default:_('Django administration') }}
    </a>
  </h1>
{% endblock %}

{% block nav-global %}
  <!-- Add chatbot button here -->
  <button id="chatbot-button">BRO Co-Pilot</button>

{% endblock %}